p.segundo {
    text-indent:3cm;
    background:white;
    color:green;
    border: 2px solid green; 
    padding: 3px 10px;
    display: block;
    border-width: 2px 2px 2px 2px;
    font-family: "Times New Roman";
    font-size: 1.3em;
    }
    h3.dispo {
    background:white;
    color:green;
    text-indent:0.5cm;
    border: 2px solid green;
    font-family: "Times New Roman";
    font-size: 1.3em;
    }
    
    h2.titulo {
    text-indent:15cm;
    color:white;
    background:#ffcccb;
    border: 2px solid purple;
    font-family: "Times New Roman";
    font-size: 1.3em;
    }
    h3.ofertas {
    text-indent:0.5cm;
    color:green;
    font-family: "Times New Roman";
    font-size: 1.3em;
    }

    
  